.footer__about ul li {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer__about h2 {
    color: aliceblue;
    font-weight: lighter;
}

.footer__about p {
    color: aliceblue;
}

.footer__about ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: lighter;
}

.footer__about ul li a:hover {
    border-bottom: 1px solid aliceblue;
}

.footer__widget h2 {
    color: aliceblue;
    margin-bottom: 10px;
}

footer {
    background: rgb(18, 18, 18);
    padding-top: 50px;
    padding-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.footer__widget ul li {
    list-style: none;
}

.footer__widget {
    margin-bottom: 30px;
    overflow: hidden;
}

.footer__widget form input {
    width: 60%;
    font-size: 16px;
    padding-left: 20px;
    background-color: rgb(18, 18, 18);
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
}

#email-btn {
    border: none;
    outline: none;
    background-color: white;
    padding: 9px 15px;
    font-size: 18px;
}

/* .footer__widget__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__widget__social span {
  margin-left: 40px;
  object-fit: cover;
  transition: transform 0.6s;
}

.footer__widget__social span a {
  color: #ededed;
  width: 15px;
  height: 20px;
}

.footer__widget__social span:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
} */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #485460;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

.icon:hover a i {
    color: white !important;
}
