/*.vodu {*/
/*    position: relative;*/
/*}*/
.navbar-collapse img {
    margin-bottom: 30px;
}

a {
    display: inline-block;
}

.slogan {
    margin: 0;
    padding: 0;
    background-color: #01c2c3;
    height: 30px;
    font-family: monospace;
    text-align: center;
}

.navbar {
    clear: both;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: rgb(18, 18, 18);
}

.navbar-brand img {
    height: 60px;
    width: 60px;
}

.nav-item {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
}

.nav-link {
    color: aliceblue;
}

.nav-link.default {
    color: #01c2c3;
}

.nav-link:hover {
    color: aliceblue;
    text-decoration: underline;
}

.nav-link.default:hover {
    color: #01c2c3;
}

.optionUser {
    display: flex;
    justify-content: space-evenly;
    min-width: 160px;
}

.optionUser a {
    color: aliceblue;
    object-fit: cover;
    transition: transform 0.5s;
}

.optionUser a:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#search-box {
    background: #fff;
    border-radius: 30px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    /* padding: 10px 15px; */
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-text,
#search-box #search-text:valid {
    width: 300px;
    padding: 10px 0px 10px 15px;
}

#search-box #search-btn {
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 18px;
}

.header__nav-item--wrap {
    color: #fff;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding: 5px auto;
}

.header__nav-item--wrap:hover {
    cursor: pointer;
    color: #01c2c3;
}

.icon__header-wrap {
    min-width: 400px;
}

.align {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.dflex {
    display: flex;
    align-items: center;
}

.header__nav-list {
    list-style: none;
}

.hahaluoiqua {
    color: #fff;
    text-decoration: none;
}

.header__nav-item--wrap span {
    line-height: 100px;
}

.header__nav-item--wrap:hover span {
    border-bottom: #01c2c3 solid;
}

.header__nav-item-list {
    position: absolute;
    right: 0;
    left: 0;
    display: none;
    list-style: none;
    background-color: #000;
    color: #fff;
    z-index: 1;
    width: 100%;
}

.header__nav-item-item {
    line-height: 40px;
    padding-left: 20px;
}

.header__nav-item-item:hover {
    text-decoration: underline;
    font-weight: bold;
}

.header__nav-item--wrap:hover .header__nav-item-list {
    display: block;
}

.lsn {
    list-style: none;
    color: #fff;
    padding-left: 170px;
}

.optionUser > a {
    display: inline-block;
    padding-left: 20px;
}

.search-input {
    padding: 5px;
    border-radius: 50px;
}

.search-wrap {
    position: relative;
}

.search-btn {
    position: absolute;
    right: 2px;
    top: -3px;
    line-height: 30px;
    cursor: pointer;
    padding: 5px;
}

.icon-search {
    padding: 5px;
}

.dflex li span {
    text-transform: uppercase;
    margin-left: 10px;
}
